*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    line-height: 10px;
    font-family: Montserrat;
    line-height: 25px;
}

button{
    border: none;
    outline: none;
background-color: transparent;
}

img {
    width: 100%;
}

.menubar{
    font-size: 35px;
}

.navbar-brand{
    width: 15%;
}
/* Use a more specific selector to target the button */

.nav-linkcolor{
    color: #122754;
font-size: 1.1rem;
font-weight: 900;
/* text-decoration-line: underline; */
}

/* Herosection */
.herosectionImage {
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100%;
    /* height: 90vh; */
    background: linear-gradient(91deg, #122754 13.63%, rgba(18, 39, 84, 0.73) 69.27%, rgba(18, 39, 84, 0.00) 120.95%), url('../assets/heroimage.png');
    margin-bottom: 10px;
    
}

.herosectionchild{
    padding: 13rem 5rem 6rem 6rem;
}

.herocontent-headingThree{
    width: 70%;
font-size: 80px;
font-weight: 900;

}

.herocontent-ptag{
    width: 32%;
    font-weight: 600;
}

.getApp{
    border-radius: 50px;
    background-color: #00DB7F;
    padding: 4px 12px 4px 12px;
    color: white;
    font-weight: 700;
}

.earningtext{
    color: #122754;
font-size: 50px;
font-weight: 700;
}

.earnchildOne {
    display: flex;
    grid-column-gap: 140px; /* Adjust the value based on your design needs */
}

.earningImage{
    width: 40%;
}

.driveEarntext{
    color: #122754;
    font-size: 35px;
    font-weight: 700;
}

.earn-borderline{

    width: 27%;
    height: 7px;
    background: linear-gradient(90deg, #00DB7F 50%, #122754 50%);
    color: white;
}

.earningNumbering{
    padding: 1px 1px 1px 1px;
    width: 25px;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
height: 25px;
border-radius: 50%;
background-color: #00DB7F;
}

.learnmore{
    border-radius: 50px;
    background-color: #EDEDED;
    padding: 5px 12px 5px 12px;
    color: #122754;
    font-size: 13px;
    font-weight: 700;
}

.drivemoretext{
    color: #122754;
    font-weight: 800;
}

/* About Us */

.aboutus-container{
    padding-top: 70px;
    margin-bottom: 20px;
}

.aboutus-text{
    color: #122754;
    font-size: 50px;
    font-weight: 900;
}

.aboutus-borderline{

    width: 9%;
    height: 7px;
    background: linear-gradient(90deg, #00DB7F 50%, #122754 50%);
    color: white;
}

.aboutus-missions{
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: center;
    /* justify-content: space-between; */
}

.ourvision-icon{
    background-color: #00DB7F;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
width: 30%;
margin-bottom: 18px;
}


.ourmission-icon{
    background-color: #00DB7F;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
width: 30%;
margin-bottom: 20px;
}

.corevalues-icon{
    background-color: #00DB7F;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
width: 40%;
margin-bottom: 20px;
/* margin-bottom: 18px; */
}


.ourvisionheading-text h2{
    color: #122754;
    font-weight: 800;
    font-size: 30px;
}


.ourvisiontitle-text{
    color: #122754;
    font-weight: 800;
    font-size: 18px;

}


.ourvision-paragraph {
    margin-top: 20px;
    display: flex;
 display: flex;
 justify-content: center;
 align-items: center;

}

.ourmission-paragraph{
    margin-top: 20px;
    display: flex;
 display: flex;
 justify-content: center;
 align-items: center;
}

.ourmission-paragraph p {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corevalues-paragraph{
    margin-top: 20px;
    display: flex;
 display: flex;
 justify-content: center;
 align-items: center;
}

.corevalues-paragraph p{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.ourvision-paragraph p{
    width: 80%;
display: flex;
justify-content: center;
align-items: center;
}


.sectiondownload{
    background-color: #122754;
    color: white;
    padding: 40px 5px 5px 5px;
    border-radius: 90px;
    margin-bottom: 50px;
    margin-top: 190px;
}

.sectiondownload h2{
    font-weight: 800;
    width: 90%;
    font-size: 62px;
    margin-bottom: 20px;
}

.sectiondownload button{
    border-radius: 50px;
    background-color: white;
    padding: 4px 14px 4px 14px;
    color: #122754;
    font-weight: 900;
    font-size: 14px;
}

.sectiondownload p{
    font-size: 25px;
font-weight: 500;
width: 50%;
line-height: normal;
margin-bottom: 40px;
}

.sectiondownloadchild{
    padding-top: 80px;
}

.sectiondownloadImage{
    width: 50%;
   margin-top: -150px;
}

/* Media Queries */
/* Small Screen */
@media (min-width: 100px) and (max-width: 767px) {
    .herosectionchild {
        padding: 5rem 4rem 6rem 3rem;
    }

    .herocontent-headingThree {
        width: 100%;
        font-size: 45px;
        font-weight: 900;
    }

    .herocontent-ptag{
        width: 100%;
        font-weight: 600;
    }

    .earnchildOne{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .earningtext{
    font-size: 35px;
    }

    .earningImage{
        width: 90%;
        margin-bottom: 20px;
    }

    .aboutus-missions{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .corevalues-icon{
    width: 30%;
 
    }

    .sectiondownloadImage{
        padding-top: 50px;
        margin-top: 0px;
    }

    .sectiondownloadchild{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sectiondownload p{
        display: flex;
        width: 90%;
        /* flex-direction: column; */
        justify-content: center;
    }

    .sectiondownload h2{
        width: 100%;
        font-size: 40px;
    }

    .sectiondownload{
        border-radius: 90px;
    }

    .sectiondownload{
        margin-top: 70px;
        padding-left: 5px;
        border-radius: 0px;
    }
 }

 /* Meduim Screen */
 @media (min-width: 768px)  and (max-width: 1023px) { 
    .herosectionchild {
        padding: 5rem 0rem 6rem 3rem;
    }

    .herocontent-headingThree {
        width: 90%;
        font-size: 50px;
        font-weight: 900;
    }

    .herocontent-ptag{
        width: 100%;
        font-weight: 600;
    }

    .earnchildOne{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .earningImage{
        width: 70%;
        margin-bottom: 20px;
    }

    
    .aboutus-missions{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .corevalues-icon{
        width: 30%;
     
        }

        
        .sectiondownloadImage{
            padding-top: 50px;
            /* margin-top: 0px; */
        }
    
        .sectiondownloadchild{
            width: 70%;
            padding: 10px;
            /* justify-content: center; */
        }
    
        .sectiondownload p{
            display: flex;
            width: 90%;
            /* flex-direction: column; */
            justify-content: center;
        }
    
        .sectiondownload h2{
            width: 100%;
            font-size: 50px;
        }
    
        .sectiondownload{
            border-radius: 90px;
        }
 }