*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{

    font-family: Montserrat;
    line-height: 25px;
    
}

input {
 outline: none;
border: none;
}

textarea{ 
    outline: none;
    border: none; 
}

button{
    border: none;
    outline: none;
background-color: transparent;
}

img {
    width: 100%;
}

.initial-state {
    opacity: 0;
    transform: translateX(2px); /* Adjust as needed */
  }

  .initial-stateUp {
    opacity: 0;
    transform: translateY(3px); /* Adjust as needed */
    /* transition: transform 0.2s ease-in-out, opacity 0.3s ease;  */
  }

  .navbar-container {
    /* width: 70%; */
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .navchild{
    /* display: grid; */
    /* display: flex; */
    border-radius: 20px;
    /* gap: 50px; */
    width: 90%;
    /* justify-content: space-between; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    align-items: center;
    padding: 8px 30px 8px 30px;
     display: flex;
     /* justify-content: center; */
     align-items: center;
  }

 .navlist-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
 }

  .navbar-toggler {
    background: none;
    border: none;
    cursor: pointer;
  }

  #offcanvasNavbar{
   display: none;
  }


.navlist{
    display: flex;
    margin-top: 10px;
    gap: 20px;
}
.navlist-mobile li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlist-mobile-cont{
width: 20%;
}

  .navlist-mobile ul{

    /* margin-top: ; */
   
    /* display: block; */
    /* display: none; */
    /* overflow-y: auto; */
    /* padding: 20px; */
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.1s ease-in-out;
    padding: 80px 270px 80px 270px;
    border-radius: 20px;
  }

  .navlist-mobile{
    /* margin: 15px 19px 0px 100px; */
   
    position: absolute;
    top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    z-index: 10;
    /* height: 60%; */
    /* right: 2%; */
    left: 50%;
    /* bottom: 0; */

  }
  .nav-button{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    z-index: 1000;
  }

  .offcanvas.show {
    transform: translateX(-100%);
  }

  .offcanvas-header {
    justify-content: flex-end;
  }

  .btn-close {
    background: none;
    border: none;
    cursor: pointer;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
  }

  .nav-item {
   
    /* margin-bottom: 10px; */
  }
  .navlist-nav-link{
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    text-wrap: nowrap;
   
    /* margin-top: 200px; */
  }


  .nav-link {
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    text-wrap: nowrap;
    padding: 20px;
    font-size: 20px
  }


  .nav-link:hover {
    color: #000000;
  }
  .btn-close:focus{
    outline: none;
    box-shadow: none;
  }

.menubar{
    font-size: 35px;
}

.navbar-brand img{
    width: 53%;
    
}
/* Use a more specific selector to target the button */

.nav-linkcolor{
    color: #122754;
font-size: 1.1rem;
font-weight: 900;
/* text-decoration-line: underline; */
}
/* Herosection */
.herosectionImage {
    
    width: 100%;
    background-image: url("../assets/herosection_Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 90vh; */
    /* background: linear-gradient(91deg, #122754 13.63%, rgba(18, 39, 84, 0.73) 69.27%, rgba(18, 39, 84, 0.00) 120.95%), url('../assets/heroimage.png'); */
    margin-bottom: 200px;
    padding-top: 30px;
    padding-bottom: 100px;
}

.herosectionchild-content{
    padding: 9rem 5rem 9rem 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    /* margin-bottom: 600px; */
}

.herocontent-headingThree{
font-size: 40px;
font-weight: 900;

}
.herocontent-headingThree-mobileview{
    font-size: 40px;
    font-weight: 900;  
    /* margin-bottom: 10px; */
}

.highlighted-headingThree{
    font-size: 40px;
    font-weight: 900;
    color: #00DB7F;
   
    }

    .highlighted-headingThree-mobileview {
        /* display: none; */
        font-size: 40px;
        font-weight: 900;
        color: #00DB7F;
       
    }

    .herocontent-mobile-View{
        display: none;
       
    }
.ourdrive-txt{
    color: #00DB7F;
    width: 100%;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.herocontent-ptag{
    width: 65%;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
}

.vector_custom_Img{
    width: 15%;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    position: absolute;
    right: 4px;
    
    top: 500px;
}

.vector_custom_ImgOne{
    width: 13%;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    position: absolute;
    left: 4px;
    top: 170px;
}

.getApp{
    border-radius: 50px;
    background-color: #00DB7F;
    padding: 4px 12px 4px 12px;
    color: white;
    font-weight: 700;
}

.earningtext{
    color: #122754;
font-size: 50px;
font-weight: 700;
}

.earnchildOne {
    display: flex;
    grid-column-gap: 140px; /* Adjust the value based on your design needs */
}

.earningImage{
    width: 40%;
}

.driveEarntext{
    color: #122754;
    font-size: 35px;
    font-weight: 700;
}

.earn-borderline{

    width: 27%;
    height: 7px;
    background: linear-gradient(90deg, #00DB7F 50%, #122754 50%);
    color: white;
}

.earningNumbering{
    padding: 1px 1px 1px 1px;
    width: 25px;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
height: 25px;
border-radius: 50%;
background-color: #00DB7F;
}

.learnmore{
    border-radius: 50px;
    background-color: #EDEDED;
    padding: 5px 12px 5px 12px;
    color: #122754;
    font-size: 13px;
    font-weight: 700;
}

.drivemoretext{
    color: #122754;
    font-weight: 800;
}

.earndrive-container{
    background-image: url("../assets/earndriveImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    /* padding-top: ; */
    padding: 150px 5px 5px 5px;
    /* padding-bottom: 20px; */

}
.earntxt-tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 90px; */
    padding-bottom: 10px;
}

.earn-while-drivetxt{
/* margin-top: 150px; */
font-weight: 700;
font-size: 37px;

}

.earnwhilePtag{
    text-align: center;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.earnwhilePtag p{
   
   
}

.learn-more{
border: 1px solid #000000;
width: 17%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
padding: 5px 4px 5px 4px;
}

.vector_Img{
width: 20%;
display: flex;
align-items: center;
justify-content: center;
margin-top: 70px;
}

.drive-more-txt{
    font-weight: 600;  
    color: white;
    position: relative;
    top: -120px;
    /* fo */
}
.ourVision-container{
    background-color: #122754;
    padding-top: 30px;
    border-radius: 20px;
    width: 50%;
    padding-bottom: 30px;
}

.ourMission-container{
    background-color: #00DB7F;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    width: 50%;
    color: #122754;
}

/* .corevalues-container{

} */


/* About Us */
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  width: 100%;
  position: relative;
  /* margin: auto; */
}

/* Caption text */
.text {

}

.firstslideTxt-One{
    font-size: 70px;
font-weight: 900;
}

.firstslideTxt-Two{
    font-size: 70px;
    font-weight: 900;
    color: #00DB7F;
}
.first-slide-ptag{
    width: 50%;
/* position: relative; */
text-align: center;
display: flex;
justify-content: center;
}



.first-slide-text-container{
    color: #f2f2f2;
    font-size: 15px;
    padding: 50px 8px 90px 8px;
    position: absolute;
    top: 40%;
    left: 20%;
    /* bottom: 8px; */
    width: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));

    /* background-color: #000000; */
    border-radius: 8px;
}

.first_vector_custom_ImgOne{
    width: 11%;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    position: absolute;
    right: 0px;
    /* top: 170px; */
    bottom: 0px;
    /* right: 0px; */
    /* top: 10px; */
}

.first-slide-containerTwo{
    position: absolute;
    top: 80%;
    left: 20%;
    /* bottom: 5px; */
}

.first-slide-containerTwo h5{
    color: #00DB7F;
    font-weight: 800;
}

.first-slide-containerTwo span{
    color: #fff;
}

.first-slide-text-child{

    text-align: center;
}

.second-slide-text-container{
    color: #f2f2f2;
    font-size: 15px;
    padding: 50px 8px 50px 8px;
    position: absolute;
    top: 50%;
    left: 26%;
    /* bottom: 8px; */
    width: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));

    /* background-color: #000000; */
    border-radius: 8px;
}

.second-slide-containerTwo{
    position: absolute;
    top: 80%;
    left: 26%;
    /* bottom: 5px; */
}
.second-slide-containerTwo h5{
    color: #00DB7F;
    font-weight: 800;
}

.second-slide-containerTwo span{
    color: #fff;
}

.third-slide-text-container{
    color: #f2f2f2;
    font-size: 15px;
    padding: 50px 8px 50px 8px;
    position: absolute;
    top: 40%;
    left: 26%;
    /* bottom: 8px; */
    width: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));

    /* background-color: #000000; */
    border-radius: 8px;
}

.third-slide-containerTwo{
    position: absolute;
    top: 70%;
    left: 40%;
    /* bottom: 5px; */
}
.third-slide-containerTwo h5{
    color: #00DB7F;
    font-weight: 800;
}

.third-slide-containerTwo span{
    color: #fff;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dots{
    position: absolute;
    right: 20px;
    bottom: 4px;
}
/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

.aboutus-container{
    padding-top: 70px;
    margin-bottom: 10px;
}

.aboutus-text{
    color: #122754;
    font-size: 50px;
    font-weight: 900;
}

.aboutus-borderline{

    width: 15%;
    height: 7px;
    background: linear-gradient(90deg, #00DB7F 50%, #122754 50%);
    color: white;
}

.join-seamless-container{
    background-color: #122754;
    color: white;
    padding: 10px 5px 10px 70px;
    margin-bottom: 20px;
}

.join-seamless-child{
    display: flex;
align-items: center;
justify-content: space-between;

}

.join-seamless-text{
    font-size: 40px;
width: 30%;
}

.join-seamless-compatible{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.join-seamless-compatible p{
    width: 50%;
}

.join-seamless-compatible button{
    border: 1px solid white;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
}

.section-earndrive-container{
    background-color: #00DB7F;
    color: #000000;
    padding: 10px 150px 10px 70px;
    margin-bottom: 20px;
}
.section-earndrive-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.section-earndrive-child p{
    width: 65%;
}
.section-earndrive-text{
    font-size: 40px;
    /* width: 30%; */
}

.section-earndrive-learnmore button{
    border: 1px solid #000000;
    color: #000000;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    /* width: 100%; */
}

.sectionImage{
    background-image: url("../assets/sectionlogo.png");
    padding: 20px 20px 20px 20px;
    margin-bottom: 80px;
}

.section-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-logo img{
    width: 13%;
 
}

.aboutus-missions{
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: center;
    /* justify-content: space-between; */
}

.ourvision-icon{
    /* background-color: #00DB7F; */
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
width: 30%;
margin-bottom: 1px;
}


.ourmission-icon{
    /* background-color: #00DB7F; */
    
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
width: 30%;
margin-bottom: 2px;
}

.ourmissiontitle-text{
    color: #122754;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}

.corevalues-icon{
    /* background-color: #00DB7F; */
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
width: 30%;
margin-bottom: 2px;
/* margin-bottom: 18px; */
}


.ourvisionheading-text h2{
    color: white;
    font-weight: 800;
    font-size: 30px;
}


.ourvisiontitle-text{
    color: white;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    width: 90%;
}

.ourmissionheading-text h2{
    color: #122754;
    font-weight: 800;
    font-size: 30px;
}

.ourvision-paragraph {
    margin-top: 20px;
    display: flex;
 display: flex;
 justify-content: center;
 align-items: center;
}

.ourmission-paragraph{
    margin-top: 20px;
    font-weight: 800;
    display: flex;
 display: flex;
 justify-content: center;
 align-items: center;
}

.ourmission-paragraph p {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #122754;
}

.corevalues-paragraph{
    margin-top: 20px;
    font-weight: 800;
    display: flex;
 display: flex;
 justify-content: center;
 align-items: center;
 /* width: 100%; */
}

.corevalues-paragraph p{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white; 
}
.ourvision-paragraph p{
    width: 80%;
    font-weight: 800;
display: flex;
justify-content: center;
align-items: center;
}


.sectiondownload{
    /* background-color: #122754; */
    color: #000000;
    padding: 40px 5px 5px 5px;
    border-radius: 90px;
    margin-bottom: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;

    justify-content: center;
}

.sectiondownload h2{
    font-weight: 800;
    width: 60%;
    font-size: 62px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.sectiondownload-button{
    width: 20%;
    /* display: flex; */

}

.sectiondownload p{
    font-size: 25px;
font-weight: 500;
width: 35%;
line-height: normal;
margin-bottom: 40px;
}

.sectiondownloadchild{
    padding-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.sectiondownloadImage{
    width: 50%;
   margin-top: -150px;
}


/* Contact */
.contact-container{
    margin-top: 80px;
    margin-bottom: 60px;
}

.contact-form input{

    background-color: white;
    border-radius: 10px;
    padding: 10px 200px 10px 20px;
    width: 100%;
    border:  1px solid #000000;
}

.form-textarea textarea{
    background-color: white;
    border-radius: 20px;
    padding: 20px 40px 180px 20px;
    border:  1px solid #000000;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.firstName-form{
    display: flex;
    flex-direction: column;
}



.form-container{
    gap: 80px;
}

.messageicons_container{
    padding-top: 120px;
}

.form-control:focus{
border:  1px solid #F5F4F4;
}

.contact-button{
    border-radius: 10px;
    background-color: #00DB7F;
    padding: 12px 12px 12px 12px;
    color: #000000;
    font-weight: 700; 
    width: 30%; 
}
.call_line{
    margin-bottom: 34px;
}

.call_line img{
width: 9%;
}

.mail_box img{
width: 10%;
}

/* Footer */

.footer{
background-color: #122754;
padding: 80px 5px 40px 5px;
border-top-right-radius: 25px;
border-top-left-radius: 25px;
}



.footer-contents{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 80px;
}
.footer-logo{
    width: 80%;
    /* padding-top: 80px; */
}


.footer-ptag{
    color: #00DB7F;
    width: 80%;
}


.footersubscribe-text{
    margin-bottom: 50px;
}

.footersubscribe-text h2{
    color: white;
}

.footersubscribe-text span{
    color: #00DB7F;
    font-weight: 700;
}

.footersubscribe{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap: 90px; */
}

.footer-socialmedia{
    width: 17%;
    display: flex;
    gap: 6px;
  
}


.subscribe-button{
    border-radius: 10px;
    background-color: white;
    padding: 8px 30px 8px 30px;
    color: #000000;
    font-weight: 700;
    margin-top: -30px;
    width: 50%;
    margin-bottom: 20px;
    
}

.footerchildThree{
    display: flex;
    /* gap: 180px; */
}

#map {
    height: 300px;
    width: 100%;
    margin-top: 40px;
  }

  
  .contactside{
    display: flex;
    flex-direction: column;
  
    align-items: center;
  }


/* Media Queries */
/* Small Screen */
@media (min-width: 100px) and (max-width: 767px) {

    .navbar-brand{
        width: 25%;
    }


    .herosectionchild {
        padding: 5rem 4rem 6rem 3rem;
    }

    .herocontent-headingThree {
        width: 100%;
        gap: 20px;
        font-size: 45px;
        font-weight: 900;
    }

    .herosectionchild-content{
        padding: 9rem 1rem 9rem 1rem;
    }

    .herocontent-ptag{
        width: 100%;
        margin-top: 8px;
        /* font-weight: 600; */
    }

    .earnchildOne{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .earningtext{
    font-size: 38px;
    /* text-align: center; */
    /* width: 60%; */
    padding-left: 10px;
    }

    .earningImage{
        width: 90%;
        margin-bottom: 20px;
    }

    .aboutus-missions{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .corevalues-icon{
    width: 30%;
 
    }

    .sectiondownloadImage{
        padding-top: 50px;
        margin-top: 0px;
    }

    .sectiondownloadchild{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sectiondownload p{
        display: flex;
        width: 90%;
        /* flex-direction: column; */
        justify-content: center;
    }

    .sectiondownload h2{
        width: 100%;
        font-size: 40px;
    }

    .sectiondownload{
        border-radius: 90px;
    }

    .sectiondownload{
        margin-top: 70px;
        padding-left: 5px;
        border-radius: 0px;
    }

    .form-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .call_line{
        width: 50%;
    }

    .mail_box {
        width: 50%;
    }
    
    .contact-form input{
        padding: 20px 20px 20px 20px;
    }

    .ourmissiontitle-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* width: 100%; */
    }

    .footerchild{
        display: flex;
        flex-direction: column;
    }
    .footer{
        padding-top: 10px;
        
    }

    .footer-contents{
        display: flex;
        flex-direction: column;
        
        /* gap: 80px; */
      }
    .footer-logo {
        margin-bottom: 5px;
        width: 18%;
    }

    .footersubscribe-text h2{
        /* width: 100%; */
        font-size: 20px;
    }

    .footersubscribe{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-bottom: 40px;
    }

    .footerchildTwo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .footer-ptag{
        display: flex;
        text-align: center;
    }

    .footerchildThree{
        gap: 50px;
    }
    .quicklinks h3{
        font-size: 16px;
    }

    .quicklinks span{
        font-size: 14px;
    }

    .legal h3{
        font-size: 16px;
    }

    .legal span{
        font-size: 14px;
    }

    .phoneNumber{
        display: flex;
        flex-direction: column;
        
    }

    .earnwhilePtag{
        width: 100%;
    }

    .learn-more{
        width: 100%;
    }
    .ourVision-container{
        width: 100%;
    }
    .ourMission-container{
        width: 100%;
    }
    
    .sectiondownload-button{
        width:50%;
        display: flex;
        flex-direction: column;
    }

    .sectiondownloadchild{
        padding-top: 80px;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }

    .firstName-form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }
    .contact-button{
      
        width: 100%; 
    }
    
    .section-earndrive-child{
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    .section-earndrive-container{
        padding: 10px 10px 10px 10px;
    }

    .join-seamless-container{
        padding: 10px 10px 10px 10px;
    }
    .join-seamless-text{
        width: 100%;
    }

    .join-seamless-child{
        display: flex;
        /* align-items: center; */
        flex-direction: column;
    }

    .herocontent-mobile-View{
        display: block;
        display: flex;
        flex-direction: column;
        gap: 28px;
        margin-bottom: 5px;
    }

    .herocontent-firstcontent{
        display: none;
    }

    .vector_custom_Img{
        display: none;
    }

    .vector_custom_ImgOne{
        display: none;
    }

    .herosectionImage{
        margin-bottom: 30px;
    }

    .drive-more-txt{
        /* width: 100%; */
    }
    .earn-while-drivetxt{
        /* width: 100%; */
    }
    .navlist-container{
        margin-top: 10px;
        display: none;
        
     }

     .navlist-mobile{
        left: 40%;
     }
     .navlist-mobile ul{
        padding: 80px 150px 80px 150px;
     }

     .first-slide-text-container{
   
    padding: 50px 8px 30px 8px;
    position: absolute;
    top: 10%;
    left: 5%;
    /* bottom: 8px; */
    width: 90%;

     }

     .first-slide-ptag{
        width: 100%;
    /* position: relative; */
    text-align: center;
    display: flex;
    justify-content: center;
    }

    .first-slide-containerTwo button{
        display: none;
    }

    .first_vector_custom_ImgOne{
        display: none;
    }
    .first-slide-containerTwo{
        display: none;
    }

    .second-slide-containerTwo{
        display: none;
    }

    .second-slide-text-container{
   
        padding: 50px 8px 30px 8px;
        position: absolute;
        top: 10%;
        left: 5%;
        /* bottom: 8px; */
        width: 90%;
    
         }
    
         .second-slide-ptag{
            width: 100%;
        /* position: relative; */
        text-align: center;
        display: flex;
        justify-content: center;
        }
    
        .second-slide-containerTwo button{
            display: none;
        }

        .third-slide-text-container{
   
            padding: 50px 8px 30px 8px;
            position: absolute;
            top: 10%;
            left: 5%;
            /* bottom: 8px; */
            width: 90%;
        
             }
        
             .third-slide-ptag{
                width: 100%;
            /* position: relative; */
            text-align: center;
            display: flex;
            justify-content: center;
            }
        
            .third-slide-containerTwo button{
                display: none;
            }
    /* .navlist {
     
        position: fixed;
        top: -20px;
        right: 0;
        bottom: 0;
        display: block;
        background-color: white;
        width: 300px;
        z-index: 1000;
       height: 100%;
        padding: 20px;
        transition: transform 0.3s ease-in-out;
      } */
    /* .getIntouch_forms{
        gap: 20px;
    } */
 }

 /* Meduim Screen */
 @media (min-width: 768px)  and (max-width: 1023px) { 

    .navbar-brand{
        width: 20%;
    }
    .herosectionchild {
        padding: 5rem 0rem 6rem 3rem;
    }

    .herocontent-headingThree {
        width: 90%;
        font-size: 50px;
        font-weight: 900;
    }

    .herocontent-ptag{
        width: 100%;
        font-weight: 600;
    }

    .earnchildOne{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .earningImage{
        width: 70%;
        margin-bottom: 20px;
    }

    
    .aboutus-missions{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .corevalues-icon{
        width: 30%;
     
        }

        
        .sectiondownloadImage{
            padding-top: 50px;
            /* margin-top: 0px; */
        }
    
        .sectiondownloadchild{
           
            /* justify-content: center; */
        }
    
        .sectiondownload p{
            display: flex;
            width: 90%;
            /* flex-direction: column; */
            justify-content: center;
        }
    
        .sectiondownload h2{
            width: 100%;
            font-size: 50px;
        }
    
        .sectiondownload{
            border-radius: 90px;
        }
        .form-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        

        .call_line{
            width: 50%;
        }
    
        .mail_box {
            width: 50%;
        }
        .ourVision-container{
            width: 100%;
        }
        .ourMission-container{
            width: 100%;
        }

        .contact-button{
      
            width: 100%; 
        }

        .firstName-form{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;
        }
        .footer-contents{
            display: flex;
            flex-direction: column;
            
            gap: 5px;
          }
        .footer-logo {
            margin-bottom: 5px;
            width: 18%;
        }

        .section-earndrive-learnmore button{
            border: 1px solid #000000;
            color: #000000;
            padding: 5px 20px 5px 20px;
            border-radius: 10px;
            width: 100%;
        }

        .vector_custom_Img{
            display: none;
        }

        .herocontent-mobile-View{
            display: block;
            display: flex;
            flex-direction: column;
            gap: 28px;
            margin-bottom: 5px;
        }
    
        .herocontent-firstcontent{
            display: none;
        }

        .herosectionImage{
            margin-bottom: 30px;
        }
    
        .navlist-mobile{
            left: 40%;
         }
         .navlist-mobile ul{
            padding: 80px 150px 80px 150px;
         }


         .first-slide-text-container{
   
            padding: 50px 8px 30px 8px;
            position: absolute;
            top: 10%;
            left: 5%;
            /* bottom: 8px; */
            width: 90%;
        
             }
        
             .first-slide-ptag{
                width: 100%;
            /* position: relative; */
            text-align: center;
            display: flex;
            justify-content: center;
            }
        
            .first-slide-containerTwo button{
                /* display: none; */
            }
        
            .first_vector_custom_ImgOne{
                display: none;
            }
            .first-slide-containerTwo{
                /* display: none; */
                top: 50%;
            }
        
            .second-slide-containerTwo{
                top: 50%;
            }
        
            .second-slide-text-container{
           
                padding: 50px 8px 30px 8px;
                position: absolute;
                top: 6%;
                left: 5%;
                /* bottom: 8px; */
                width: 90%;
            
                 }
            
                 .second-slide-ptag{
                    width: 100%;
                /* position: relative; */
                text-align: center;
                display: flex;
                justify-content: center;
                }
            
                .second-slide-containerTwo button{
                    /* display: none; */
                }
        
                .third-slide-text-container{
           
                    padding: 50px 8px 30px 8px;
                    position: absolute;
                    top: 30%;
                    left: 5%;
                    /* bottom: 8px; */
                    width: 90%;
                
                     }
                
                     .third-slide-ptag{
                        width: 100%;
                    /* position: relative; */
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    }
                
                    .third-slide-containerTwo button{
                        /* display: none; */
                    }
 }


 @media (min-width: 1023px) and (max-width: 1115px) {

    .footer-contents{
        display: flex;
        flex-direction: column;
        
        gap: 5px;
      }
    .footer-logo {
        margin-bottom: 5px;
        width: 18%;
    }

    .first-slide-text-container{
   
        padding: 50px 8px 30px 8px;
        position: absolute;
        top: 6%;
        left: 5%;
        /* bottom: 8px; */
        width: 90%;
    
         }
    
         .first-slide-ptag{
            width: 100%;
        /* position: relative; */
        text-align: center;
        display: flex;
        justify-content: center;
        }
    
        .first-slide-containerTwo button{
            /* display: none; */
        }
    
        .first_vector_custom_ImgOne{
            display: none;
        }
        .first-slide-containerTwo{
            /* display: none; */
            top: 50%;
        }
    
        .second-slide-containerTwo{
            top: 50%;
        }
    
        .second-slide-text-container{
       
            padding: 50px 8px 30px 8px;
            position: absolute;
            top: 6%;
            left: 5%;
            /* bottom: 8px; */
            width: 90%;
        
             }
        
             .second-slide-ptag{
                width: 100%;
            /* position: relative; */
            text-align: center;
            display: flex;
            justify-content: center;
            }
        
            .second-slide-containerTwo button{
                /* display: none; */
            }
    
            .third-slide-text-container{
       
                padding: 50px 8px 30px 8px;
                position: absolute;
                top: 30%;
                left: 5%;
                /* bottom: 8px; */
                width: 90%;
            
                 }
            
                 .third-slide-ptag{
                    width: 100%;
                /* position: relative; */
                text-align: center;
                display: flex;
                justify-content: center;
                }
            
                .third-slide-containerTwo button{
                    /* display: none; */
                }
    
 }